@import "../materialize-src/sass/components/color-variables";
@import "../materialize-src/sass/components/variables";

body {
  margin: 0;
  background-color: $primary-color-dark;

  nav {
    .nav-wrapper {
      display: flex;
      justify-content: center;
      .title {
        font-size: 1.3rem;
      }

      .nav-menu {
        position: absolute;
        right: 0;
      }
    }
  }
}

div.contents {
  width: 100vw;
  height: 100vh;
  max-height: calc(100vh - 64px);

  div.viewers {
    width: 100%;
    height: 100%;
    display: flex;
  }

  viewer-s {
    width: 100%;
    height: 100%;
    display: flex;
  }
}
